<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Tools</title>
			<subitems>
				<subitem>
					<subitemtitle>Tools</subitemtitle>
					<subitemlang>tools</subitemlang>						
					<subsection>tools</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>